aws_region          = "ap-southeast-1"
use_existing_bucket = false
object_prefixes     = ["raw/"]
name_prefix         = "sftp-s3-glue-rd"

# Optional override for new bucket name (must be globally unique):
# bucket_name = "my-custom-bucket-name"
